{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<!-- Falta instalar ckeditor
    https://www.google.com/search?q=como+poner+ckeditor+en+stativ&oq=como+poner+ckeditor+en+stativ&aqs=chrome..69i57j33i160l3.5509j0j7&sourceid=chrome&ie=UTF-8

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
-->
{% endblock %}



{% block content %}

<main class="flex-shrink-0">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data" style="margin-top: 1em;">{% csrf_token %}
           {% if user.is_authenticated %} 
                
                <!-- {{ form.as_p }} -->
                <p>Título: {{ form.titulo }}</p>
                <p>Subtítulo: {{ form.subtitulo }}</p>
                <p>Cuerpo: {{ form.cuerpo }}</p>
                <p>Imagen: {{ form.imagen }}</p>
                <p style="visibility:hidden">Autor: {{ form.autor }}</p>
                <p style="visibility:hidden">Fecha de creación: {{ form.creado }}</p>
                <!-- style="visibility:hidden" -->
                
                
                    {% if request.resolver_match.url_name == "entrada-update" %}
                                                        
                           <input type="submit" value="Actualizar" class="btn btn-sm btn-block btn-warning">
                        
                    {% else %} 

                            <input type="submit" value="Crear" class="btn btn-sm btn-block btn-success">

                    {% endif %}
 
             {% else %} 
                    No tiene permiso para editar. Debe loguearse primero.
             {% endif %}
        </form>

        <script>
            var name = "{{ user.id }}";
            document.getElementById("elder").value
            = name;

        </script>
    </div>
    <a  type="button" href="{% url 'bienvenida' %}" style="margin-top: 2em; margin-left: 2em;" class="btn btn-sm btn-outline-primary">Volver al
                inicio</a>
</main>
{% endblock %}