{% extends 'base.html' %}

{% load static %}
{% block extrahead %}
<!-- Falta instalar ckeditor
    https://www.google.com/search?q=como+poner+ckeditor+en+stativ&oq=como+poner+ckeditor+en+stativ&aqs=chrome..69i57j33i160l3.5509j0j7&sourceid=chrome&ie=UTF-8

<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
-->
{% endblock %}



{% block content %}

    <div class="position-relative overflow-hidden p-3 p-md-7 m-md-3  bg-light">
        <div class="col-md-6 p-lg-6 mx-auto my-1">

            {% if request.resolver_match.url_name == "entrada-update" %}
                                                
                <h1 class="display-5 fw-normal text-center" >Actualiza los campos que desees, y luego presiona el botón "Actualizar entrada" para modificar la entrada actual</h1>
                
            {% else %} 

                <h1 class="display-5 fw-normal text-center">Completa todos los campos, y luego presiona el botón "Crear nueva entrada" para generar una nueva entrada</h1>

            {% endif %}
        
        <div class="form-group pt-3">
            <form method="post" enctype="multipart/form-data" style="margin-top: 1em;">
                {% csrf_token %}
                {% if user.is_authenticated %} 
                <div class="mb-3">
                    <div>
                        <label for="formGroupExampleInput" class="form-label">Título:</label>
                    </div>
                    <div>
                        {{ form.titulo }}
                    </div>
                    <br>

                    <div>
                        <label for="formGroupExampleInput" class="form-label">Subtítulo:</label>
                    </div>
                    <div>
                        {{ form.subtitulo }}
                    </div>
                    <br>

                    
                    <div>
                        <label for="formGroupExampleInput" class="form-label">Cuerpo:</label>
                    </div>
                    <div>
                        {{ form.cuerpo }}
                    </div>
                    <br>

                    <div>
                        <label for="formGroupExampleInput" class="form-label">Imagen:</label>
                        <br>
                    </div>
                    <div>
                        {{ form.imagen }}
                        <br>
                    </div>
                    
                </div>
            
                <p style="visibility:hidden">Autor: {{ form.autor }} Fecha de creación: {{ form.creado }}</p>

                    {% if request.resolver_match.url_name == "entrada-update" %}
                                                        
                        <input type="submit" value="Actualizar antrada" class="btn btn-lg btn-block btn-warning">
                        
                    {% else %} 

                        <input type="submit" value="Crear nueva entrada" class="btn btn-lg btn-block btn-success">

                    {% endif %}
 
                {% else %} 
                        No tiene permiso para editar. Debe loguearse primero.
                {% endif %}
            </form>

            <script>
                var name = "{{ user.id }}";
                document.getElementById("elder").value
                = name;

            </script>


        {% include "volver_al_inicio.html" %}

{% endblock %}