{% extends 'base.html' %}

{% block content %}

<section class="py-4 container">
    <div class="row py-lg-3">
        <div class="col-lg-6 col-md-8 cmx-auto">
            <h1 class="fw-light fw-bold">{{ post.titulo }} </h1>
            <p class="lead text-muted fw-bold">{{ post.subtitulo }}</p>
            <div style="padding-top: 1em;">
                {{ post.cuerpo }}
            </div>
        </div>
    </div>
</section>
<main class="flex-shrink-0">
    <div class="container">
        <div style="text-align:center;">
            <img class="border border-primary shadow-lg p-2  bg-body rounded" height="325" src="{{ post.imagen }}" />
        </div>
    </div>
</main>
<section class="py-5  container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 cmx-auto">
            <p><h4 class="fw-light">Autor: {{ post.autor }}</h4></p>
            <p class="text text-muted">Creado el día {{ post.creado }}</p>
        </div>
    </div>
    {% if user.is_authenticated %} 

        {% if user.id == post.autor.id %}
            <a href="{% url 'entrada-update' post.id %}" class="btn btn-block btn-info m-2">Editar</a>
            <a href="{% url 'entrada-delete' post.id %}" class="btn btn-block btn-danger">Eliminar</a>
        {% endif %}

    {% endif %}
    <br>
    {% include "volver_al_inicio.html" %}
</section>



{% endblock %}