{% extends 'base.html' %}

{% block content %}

<body>
    <div class="position-relative overflow-hidden p-3 p-md-7 m-md-3 text-center bg-light">
        <div class="col-md-6 p-lg-6 mx-auto my-1">
            <h1 class="display-4 fw-normal">Te damos la bienvenida al Blog de Viajes de Emanuel y Darian para el curso de Python en Coderhouse</h1>
            <p class="lead fw-normal">Si quieres más informacion del curso de Python, puedes acceder <a  href="https://www.coderhouse.com/online/python" target="_blank" class="text-reset text-decoration-none" >aquí</a>.</p>
            <a class="btn btn-outline-warning" href="https://www.coderhouse.com/online/python" target="_blank">Ver el curso</a>
        </div>
    </div>

    <div class="position-relative overflow-hidden p-3 p-md-7 m-md-3"></div>
        <div class="col-md-6 p-lg-6 mx-auto my-1">  

        {% for posteo in posteos %}

            <div class="card border-info mx-auto my-4 shadow " style="width: 58rem;">
                    <img src="{{ posteo.imagen.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ posteo.titulo }}</h5>
                    <p class="card-text">{{ posteo.subtitulo }}</p>
                    <a href="{% url 'entrada-detail' posteo.id %}" class="btn btn-sm btn-block btn-primary">Leer entrada completa</a>

                    {% if user.is_authenticated %}

                    {% if user.id == posteo.autor.id %}
                    <a href="{% url 'entrada-update' posteo.id %}" class="btn btn-sm btn-block btn-info">Editar</a>
                    <a href="{% url 'entrada-delete' posteo.id %}" class="btn btn-sm btn-block btn-danger">Eliminar</a>
                    {% endif %}

                    {% endif %}

                </div>
                <div class="card-footer text-end">
                    <p><h5 class="text-muted">Autor: {{ posteo.autor }}</h5></p>
                    <p><small class="text-muted">Fecha de creación: {{ posteo.creado }}</small></p>
                </div>
            </div>
        </div>
    </div>    

        {% endfor %}
    <div class="row">
        <div class="position-relative overflow-hidden p-3 p-md-7 m-md-3 text-center bg-light">
            <div class="col-md-6 p-lg-6 mx-auto my-1">
                <footer class="container">
                    <p class="float-end"><a href="#">Volver arriba</a></p>
                    <br>
                </footer>
    </div>
{% endblock %}