{% extends 'base.html' %}

{% block content %}

    <h1 class="centrado">Bienvenidos al Blog de Emanuel y Darian</h1>
    <h2 class="centrado">para el curso de Python en CODERHOUSE</h2>
    <br>
    <section class="offset-md-1">
        {% for posteo in posteos %}
            <article style="margin-top: 3em">
                <h2><a href="{% url 'entrada-detail' posteo.id %}">{{ posteo.titulo }} </a></h2>
                <h4>>> {{ posteo.subtitulo }}</h4>
                <!--   Oculto el detalle para que se vea en la entrada individual
                <p>
                    {{ posteo.cuerpo }}
                </p>
                -->
                <p>
                    <a href="{% url 'entrada-detail' posteo.id %}" class="btn btn-sm btn-block btn-primary">Leer entrada completa</a>
                </p>
                
                </div>
                
                    <img src="{{ posteo.imagen }}" alt="">
                
                <footer>
                    <br>
                    <h5>
                        Autor: {{ posteo.autor }}
                    </h5>
                    Fecha de creación: {{ posteo.creado }}
                    <br>
                    <br>
                    {% if user.is_authenticated %}
                    
                        {% if user.id == posteo.autor.id %}
                            <a href="{% url 'entrada-update' posteo.id %}" class="btn btn-sm btn-block btn-info">Editar</a>
                            <a href="{% url 'entrada-delete' posteo.id %}" class="btn btn-sm btn-block btn-danger">Eliminar</a>
                        {% endif %}

                    {% endif %}
                    <br>
                </footer>
            </article>
        <br>
        <br>
        {% endfor %}
        <br>
    </section>

{% endblock %}