{% extends 'base.html' %}

{% block content %}

    <h1 class="centrado">Bienvenidos al Blog de Emanuel y Darian para el curso de Python en CODERHOUSE</h1>
    <br>
    <section>
        {% for posteo in posteos %}
            <article>
                <h2><a href="{% url 'verEntrada' posteo.id %}">{{ posteo.titulo }}</a></h2>
                <h3>{{ posteo.subtitulo }}</h3>
                <p>
                    {{ posteo.cuerpo }}
                </p>
                <img src="{{ posteo.imagen }}" alt="">
                <footer>
                    <h3>
                        Autor: {{ posteo.autor }}
                    </h3>
                    Fecha de creación: {{ posteo.creado }}
                </footer>
            </article>
            <br>
        {% endfor %}
    </section>

{% endblock %}