{% extends 'base.html' %}

{% block content %}

<p>Resultados para: {{titulo}}</p>

{% if titulo == "(No realizó búsqueda)" %}
    Para realizar una búsqueda debe ingresar algún dato.
    Por favor, inténtelo nuevamente.

{% else %}


    {% if entradas %}
        <div>
            Las coincidencias fueron las siguientes:
        </div>

        <ul>
            {% for entrada in entradas %}
            <li>
                {{entrada.titulo}}
            </li>
            {% endfor %}
        </ul>

    {% else %}

        <div>
            No se encontraron coincidencias
        </div>


    {% endif %}

{% endif %}

{% endblock %}