{% extends 'base.html' %}

{% block content %}

<p>Resultados para: {{titulo}}</p>

{% if titulo == "(No realizó búsqueda)" %}
    Para realizar una búsqueda debe ingresar algún dato.
    Por favor, inténtelo nuevamente.

{% else %}


    {% if entradas %}
        <div>
            Las entradas econtradas fueron las siguientes:
            
        </div>
        <br>
        <ul>
            {% for entrada in entradas %}
            <li>
                <h3>{{entrada.titulo}}</h3>
                <a href="{% url 'entrada-detail' entrada.id %}" class="btn btn-sm btn-block btn-primary">Ver en detalle</a>
                {% if user.is_authenticated %}
                    {% if user.id == post.autor.id %}
                        <a href="{% url 'editarEntrada' entrada.id %}" class="btn btn-sm btn-block btn-info">Editar</a>
                        <a href="{% url 'eliminarEntrada' entrada.id %}" class="btn btn-sm btn-block btn-danger">Eliminar</a>
                    {% endif %}
                {% endif %}
                
            </li>
            <br>
            {% endfor %}
        </ul>

    {% else %}

        <div>
            No se encontraron coincidencias
        </div>


    {% endif %}

{% endif %}

{% endblock %}