{% extends 'base.html' %}

{% block content %}

{% load static %}

<body>
    <div class="position-relative overflow-hidden p-3 p-md-7 m-md-3 text-center bg-light">
        <div class="col-md-6 p-lg-6 mx-auto my-1">
            <h2 class="display-4 fw-normal mb-4">En este video te explicamos todas las funcionalidades que tiene el blog</h2>
            <div class="p-4 m-1">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/skh_L5NlW2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <h2 class="display-4 fw-normal mb-4">y estos son los Casos de Prueba</h2>
            <div class="text-center">
                <img src="{% static 'img/casos-de-prueba-1.jpg' %}"   alt="...">
            </div>
        </div>
    </div>
    <div class="text-center">
        <img src="{% static 'img/casos-de-prueba-2.jpg' %}"   alt="...">
    </div>
    <div class="position-relative overflow-hidden p-3 p-md-7 m-md-3 text-center bg-light">
        <div class="col-md-6 p-lg-6 mx-auto my-1">
            {% include "volver_al_inicio.html" %}
        </div>
    </div>
</body>


{% endblock %}