{% extends 'base.html' %}

    {% block content %}

        Página para crear posteos
        {% if user.is_authenticated %}
            <div>
                <form action="" method="POST">
                    {% csrf_token %}

                    {{form.as_p}}

                    <input type="submit" value="Guardar" >


                </form>
            </div>
        {% else %} 
            No tiene permiso para crear un posteo. Debe loguearse primero.
       {% endif %} 
       
    {% endblock %}
    
