{% extends 'base.html' %}

{% block content %}



<body>
{% load static %}
    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row mb-4">
        <div class="col-lg-6">
            <img class="rounded-circle" width="200" height="200" src="{% static 'img/1612115337872.jfif' %}" alt="">
            <h2 class="fw-normal m-3">Emanuel Menoni <a class="navbar-brand mt-3" href="https://www.linkedin.com/in/emanuelmenoni/" target="_blank"><img src="{% static 'img/linkedin_circle-svg.png' %}" alt="" width="43" height="43" class="d-inline-block align-text-top"></a></h2>
            <p>Falta que pongas tu foto, cambies tu nombre, pongas tu bio, y cambies el link sobre el logo de linkedin</p>
            <p>Estudiante de la Licenciatura en Administración de Empresas de la UDELAR (Uruguay), cursando el último año de la carrera.</p>
            <p>Cuenta con más de 10 años de experiencia en diferentes labores administrativas, incluyendo actividades de gestión, análisis, control, evaluación y asesoramiento.</p> 
            <p>Se ha desempeñado como Auditor Interno en la Dirección General de Casinos durante 7  años y actualmente trabaja como Analista de Operaciones en Sura Asset Management como Analista de Operaciones.</p>
            <p>Tiene amplios conocimientos en MS Office, con especial dominio de Excel, comenzando a desarrollar habilidades en la analítica de datos y programación.</p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-6">
            <img class="rounded-circle" width="200" height="200" src="{% static 'img/Foto cuadrada.jpg' %}" alt="">
            <h2 class="fw-normal m-3">Darian Yané <a class="navbar-brand mt-3" href="https://www.linkedin.com/in/darian-yane/" target="_blank"><img src="{% static 'img/linkedin_circle-svg.png' %}" alt="" width="43" height="43" class="d-inline-block align-text-top"></a></h2>
            <p>Licenciado en Economía y Magíster en Administración de Negocios, especializado en acciones y criptomonedas.</p>
            <p>Antes de dedicarse a las inversiones financieras, trabajó en el área de finanzas de bancos, empresas nacionales y multinacionales. Orientado siempre a la educación, Darian trabajó como profesor de Economía, Finanzas e Inversiones, y participó como speaker tanto para empresas como universidades.</p>
            <p>Darian se graduó como Licenciado en Economía en la Universidad de Buenos Aires, y obtuvo la Maestría en Administración de Negocios en UADE con reconocimiento Summa Cum Laude.</p>
            <p>Darian combina el análisis económico, técnico y fundamental con el objetivo de encontrar las mejores inversiones a mediano y largo plazo, buscando siempre maximizar la relación riesgo – beneficio esperado. También posee conocimientos de Ondas de Elliot y método Wickoff.</p>
            <p>En 2021 Darian se incorporó al Equipo de Research de Inversor Global para mantener a nuestros suscriptores al tanto de las mejores oportunidades de inversión que el mercado presenta cada día.</p>
            <p>Comenzó a operar con criptomonedas en 2019, tanto con criptomonedas en general como con finanzas descentralizadas. En la actualidad, también analiza proyectos relacionados con los P2E, NFT y metaversos.</p>
        </div><!-- /.col-lg-4 -->

        </div><!-- /.row -->
        {% include "volver_al_inicio.html" %}
        <br>
    </div>



{% endblock %}